
.left {
  justify-self: center;
  text-align: center;
}

.left img {
  margin: auto;
}

.right p {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: capitalize;
    width: 60%;
}

.button {
  display: block;
  width: fit-content;
  background-color: var(--green);
  padding: 0.3rem 3rem;
  margin-left: 100% ;
  transform: translateX(-50%);
}

.button a {
  width: 20rem;
}

@media screen and (max-width: 550px) {
  
  .right { padding: 0rem 1.2rem; }

  .right p {
    width: 100%;
    line-height: 1.8;
    font-weight: 200;
    font-size: 28px;
  }

  .button {
    margin-left: 1rem ;
    transform: none;
  }

  
}