
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.5rem;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  /* scroll: snap align 2px; */
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: red; */
  padding-left:10rem;
}

.left h2{
  font-size: 68px;
  text-transform: capitalize;
  letter-spacing: -1px;
  list-style: 1.1;
  color:  rgb(1, 23, 1);
}

.left button { 
  font-size: 30px;
   width: fit-content;
  letter-spacing: -1px;
  padding: 0.4rem 1rem;
 }


.left p {
  width: 60%;
  font-size: 38px;
  line-height: 1.7;
  list-style: 1.7;
  letter-spacing: -1px;
}

.right{ flex: 1; } 

.right img{

  animation: raduis 1.6s ease-in-out  infinite both ;
  width: 60%;
  border: solid 6px black;
  
}

.btn {

  background-color: rgb(4, 42, 4);
  border-radius: 14px;
  border-color: rgb(4, 42, 4);

}

.btn a { 
  outline: none;
  color: var(--white);
}

.btn:hover {
   background-color: rgba(0, 0, 0, 0.6);
   border-color: black;
}



@keyframes raduis {

  0%{
     border-radius: 60% 40% 30% 20%/60% 30% 70% 40%;
  }

  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    
  }

 100%{
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  
}

@media screen and (max-width: 1560px) {
  .left {
    padding-left: 4rem;
  }
  .left p {
    width: 90%;
  }
}




@media screen and (max-width: 996px) {
  
  .home { flex-direction:column ; }

  .left{
    padding: 0 0.4rem;
     order: 2; 
    }

  .left h2 {font-size: 30px;}
  .left p {
    width: 70%;
    line-height: 1.4;
    font-size: 26px;
  }

  .right{
    order: 1;
    text-align: center;
    margin-top: 8rem;
    padding-top: 4rem; 
  }
  
}

@media screen and (max-width: 556px) {
   .left {
    padding-bottom: 6rem;
   }
  .left p {
    font-size: 22px;
    width: 100%;
    line-height: 1.7;
  }

}

