.head {
  position: sticky;
  z-index: 10;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

 .active_head {
  background-color: var(--medGray);
  background-color:  rgb(14, 123, 14);
 
  color: var(--white);
}

.active_head_2 { background-color: var(--dark); }

h1 { 
  flex: 2; 
  font-size: 66px;
  cursor: pointer;
  word-spacing: -1px;
}

.navBtn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1560px) {
  .navBtn {
    display: block;
   }
}

@media screen and (max-width: 996px) {
  /* .head { position: fixed;} */
   .navBtn {
    display: block;
   }
   h1 {
    font-size: 26px;
  }
  
}

@media screen and (max-width: 320px) {
  
}
 
