.nav {  flex: 3; }
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

 i { 
  font-size: 28px;
  font-weight: 600;
  font-weight: bold;
  cursor: pointer;
}

 a {
  cursor: pointer;
  font-size: 46px;
  transition:  color 0.2s;
  text-decoration: none;
  color: black;
  display: block;
}

a:hover {
  color: var(--white);
}

@media screen and (max-width: 1560px) {
  .nav {
    display: none;
   }
}

@media screen and (max-width : 992px){
  .Link {
    font-size: var(--fontMed);
  }
  
}

@media screen and ( max-width: 996px ) {
  .nav {
   display: none;
  }

  a{ font-size: 26px; }
  .navBtn {
    display: block;
  }
  
  
}