.works {
  width: 90%;
  margin: auto;
}

.project_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
  padding-top: 15px;
}

.project_nav li {
  cursor: pointer;
  font-size: 52px;
  color: var(--white);
}

.active {
  background-color: var(--green);
  padding: 0.4rem 1rem;
  border-radius: 12px;
  transition:background-color 0.6s;
}



.projects {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 90%;
  margin: auto;
  
}

.wrapper {
    width: 80%; 
    position: relative;
    transition: all 3s;
}



.wrapper img { 
  width: 100%; 
  display: block;
  margin: auto;
  height: 30rem;
  object-fit: cover;
  border: 1px solid black ;
  border-radius: 6px;
  cursor: pointer;
}

.wrapper :hover .demo {
  opacity: 1;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* opacity: 0; */
}

.demo ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 70%; 

} 

.demo ul a, i {
  font-size: 76px;
  transition: font-size 1s ;
}

.demo ul a:hover, i:hover {
  font-size: 60px;
}



/* @media screen and (max-width: 1550px) {
  
}

@media screen and (max-width: 990px) {
  
} */

@media screen and (max-width: 550px) {
  
  .project_nav {
    flex-direction: column;
  }
  
  .project_nav li {
    font-size: 28px;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  
}