@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); 

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: sans-serif;
}

 :root {
   --fontSmall:1.1rem ;
   --fontMed: 1.4rem;
   --fontBig: 2.2rem;
   --darkGray: #1c1c1c;
   --medGray: #353535;
   --lightGray: #eee;
   --white:#fff;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--gray-dark) ;
  scroll-behavior: smooth;
}

.section_title {
  font-size: 46px;
  cursor: pointer;
  text-align: center;
  letter-spacing: -1px;
  word-spacing: -1px;
  color: white;
}

.section_subtitle {
  color: white;
  font-size: 28px;
  padding-top: 12px;
  opacity: 0.4;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  word-spacing: -1px;
  display: block;
}

h1 { font-size: 32px; }

ul {
  list-style: none;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: var(--success);
  border-color:  var(--success);
}

img {
  width:100%;
  height: auto;
}
 
.section-head {
  text-align: center;
  padding: 1.3rem ;
  color: white;
  font-size: var(--fontBig);
  cursor: pointer;
}

.section_container{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  padding: 6rem 0rem;
  
}

.pdTp{ padding:6rem 0rem;  }
/* .pdBt{ padding-bottom: 4rem; } */


.raduis_img{
  animation: raduis 1.6s ease-in-out  infinite both ;
  width: 60%;
  border: solid 6px black;
}
@keyframes raduis {

  0%{
     border-radius: 60% 40% 30% 20%/60% 30% 70% 40%;
  }

  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    
  }

 100%{
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  
}


@media screen and (max-width: 990px) {

  .section_title {
    font-size: 36px;
  }

  .section_subtitle {
    font-size: medium;
  }

  .section_container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
} 